body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
}
.main {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.main h1 {
  font-size: 32px;
  font-weight: 600;
  color: #333333;
}

.main .input-box {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main input {
  width: 80%;
  border-radius: 12px;
  color: black;
  padding-left: 2%;
  height: 100%;
  font-size: 1.25rem;
  border: 1.5px solid black;
  background-color: white;
}

.main button {
  border-radius: 12px;
  height: 100%;
  width: 12%;
  background-color: #93caed;
  font-size: 1rem;
  color: white;
  border-color: transparent;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.main button:hover {
  background-color: #7ab5d9;
  transform: scale(1.05);
}

#card-box {
  width: 100%;
}

.card {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 160px;
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 8px 0;
  border: 1.5px solid #333333;
  margin-bottom: 30px;
  position: relative;
}

.card .card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1%;
  width: 30%;
}

.card .card-text h2 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 8px 0;
}

.card .card-text h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 8px 0;
}

.card .favorite {
  background-color: #93caed;
  position: absolute;
  right: 0.5%;
  top: 2%;
  border-radius: 12px;
  padding: 8px;
}

.sidebar-options {
  position: absolute;
  top: 1%;
  right: 2%;
  width: 6%;
  display: flex;
  justify-content: space-between;
}

.option {
  background-color: #93caed;
  border-radius: 12px;
  padding: 8px;
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
  z-index: 10;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #93caed;
  border-radius: 12px 0px 0px 12px;
  padding-top: 2rem;
}

.sidebar .exit-icon {
  border-radius: 12px;
  padding: 8px;
  position: absolute;
  top: 1%;
  right: 1%;
}

.sidebar h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.sidebar h3 {
  color: #333333;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.75rem 1.25rem;
  border-radius: 12px;
  background-color: #ffffff;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}
