:root {
  --primary-dark-bg-color: #000000;
  --primary-light-bg-color: #ffffff;
  --second-dark-bg-color: #050505;
  --second-light-bg-color: #f9fafb;
  --third-dark-bg-color: #1a1a1a;
  --third-light-bg-color: #f3f4f6;
  --text-label-color: #9ca3af;
  --text-nav-color: #f3f4f6;
  --text-main-color: #ffffff;
  --primary-border-color: #d1d5db;
  --second-border-color: #e5e7eb;
  --third-border-color: #1f2937;
  --dark-link-color: #60a5fa;
  --light-link-color: #2563eb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--primary-dark-bg-color);
  width: 100%;
  height: 10%;
  top: 0;
}

h1 {
  color: var(--text-main-color);
  font-weight: 700;
  text-align: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 90%;
}

.sidebar {
  width: 15%;
  height: 100%;
  background-color: var(--second-dark-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

summary {
  color: var(--text-nav-color);
  font-size: 1.25rem;
  font-weight: 400;
  padding: 1rem 0 1rem 1rem;
  border-bottom: 1px solid var(--third-border-color);
  border-top: 1px solid var(--third-border-color);
}

.details-list {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

details[open] {
  height: auto;
}

.sidebar article {
  max-height: 240px;
  overflow-x: hidden;
  gap: 0.5rem;
  padding-left: 2rem;
}

.sidebar article h3 {
  color: var(--text-nav-color);
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  width: 40%;
  margin: 0;
  padding: 0.5rem 0;
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 1rem 1rem 1rem;
  gap: 1rem;
  background-color: var(--second-light-bg-color);
}

.main-content .search-box {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box input {
  width: 80%;
  border-radius: 8px;
  color: var(--second-dark-bg-color);
  padding-left: 2%;
  height: 100%;
  font-size: 1.25rem;
  border: 1px solid var(--primary-border-color);
  background-color: var(--primary-light-bg-color);
}

.search-box button {
  border-radius: 8px;
  height: 100%;
  width: 12%;
  background-color: var(--primary-dark-bg-color);
  font-size: 1rem;
  color: var(--primary-light-bg-color);
  border-color: transparent;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.search-box button:hover {
  background-color: var(--second-dark-bg-color);
  transform: scale(1.05);
}

.main-content .cards {
  display: flex;
  height: 85%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding-top: 2%;
}

.card {
  display: grid;
  width: 40%;
  height: 90%;
  position: relative;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.dark {
  background-color: var(--second-dark-bg-color);
}

.light {
  background-color: var(--primary-light-bg-color);
  border: 1px solid var(--second-border-color);
}

.card figure {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  margin: 0;
  padding: 1rem;
}

.card .flag {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
  border: 1px solid rgba(128, 128, 128, 0.4);
}

.card .country-main-info {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  gap: 1rem;
  padding-bottom: 1rem;
}

.card .country-main-info h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.dark .country-main-info h2 {
  color: var(--primary-light-bg-color);
}

.light .country-main-info h2 {
  color: var(--third-border-color);
}

.card .country-main-info h4 {
  color: var(--text-label-color);
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.card .weather-info {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 4;
  grid-row-end: 6;
  height: 80%;
  align-self: center;
  margin: 0 1rem;
  border-radius: 8px;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.dark .weather-info {
  background-color: var(--third-dark-bg-color);
}

.light .weather-info {
  background-color: var(--text-nav-color);
}

.card .weather-info h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.dark .weather-info h2 {
  color: var(--primary-light-bg-color);
}

.light .weather-info h2 {
  color: var(--third-border-color);
}

.card .weather-info h4 {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--text-label-color);
  margin: 0;
}

.card .infoL {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 0 0 1rem;
  gap: 1rem;
}

.card .infoR {
  grid-column-start: 6;
  grid-column-end: -1;
  grid-row-start: 6;
  grid-row-end: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 0 0 1rem;
  gap: 1rem;
}

.card .extra-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card .extra-info h2 {
  font-size: 0.85rem;
  font-weight: 400;
  margin: 0;
}

.dark .extra-info h2 {
  color: var(--primary-light-bg-color);
}

light .extra-info h2 {
  color: var(--third-border-color);
}

.card .extra-info h4 {
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--text-label-color);
  margin: 0;
}

.dark a {
  color: var(--dark-link-color);
}

.light a {
  color: var(--light-link-color);
}

.card .favorite {
  position: absolute;
  right: 0.5%;
  top: 2%;
  border-radius: 12px;
  padding: 8px;
}

.loading-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-content .arrows {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.main-content .arrow {
  opacity: 0;
  padding: 0.25rem;
  border-radius: 24px;
  border: 1.25px solid var(--primary-border-color);
}

.main-content .disabled {
  pointer-events: none;
  cursor: not-allowed;
  transition: all 0.3s ease;
  background-color: var(--primary-dark-bg-color);
}
