@use './styles/_variables.scss' as *;
@use './styles/_card.scss' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
}

header {
  background-color: $primary-dark-bg-color;
  width: 100%;
  height: 10%;
  top: 0;
  position: relative;

  h1 {
    color: $text-main-color;
    font-weight: 700;
    text-align: left;
    padding-left: 3rem;
  }

  .menu-icon {
    position: absolute;
    right: 2%;
    align-self: anchor-center;

    @media (width >= 750px) {
      display: none;
    }
  }

  @media (width < 750px) {
    h1 {
      text-align: center;
    }
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 90%;

  @media (width < 750px) {
    flex-direction: column;

    .main-content.disabled {
      display: none;
    }

    .sidebar {
      display: none;
      width: 100%;
    }

    .sidebar.active {
      display: flex;
    }
  }
}

.sidebar {
  width: 15%;
  height: 100%;
  background-color: $second-dark-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  summary {
    color: $text-nav-color;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 1rem 0 1rem 1rem;
    border-bottom: 1px solid $third-border-color;
    border-top: 1px solid $third-border-color;
  }

  .details-list {
    background-color: $third-dark-bg-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 240px;
    overflow-x: hidden;
    gap: 0.5rem;
    padding-left: 2rem;

    h3 {
      color: $text-nav-color;
      font-size: 1rem;
      font-weight: 400;
      text-align: left;
      width: 40%;
      margin: 0;
      padding: 0.5rem 0;
    }

    .history-button {
      color: $text-nav-color;
      font-size: 1rem;
      font-weight: 400;
      text-align: left;
      width: 40%;
      margin: 0;
      padding: 0.5rem 0;
      border: 0;
      background-color: transparent;
    }
  }
}

details[open] {
  height: auto;
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 1rem 1rem 1rem;
  gap: 1rem;
  background-color: $second-light-bg-color;
}

.main-content .search-box {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (width < 750px) {
    width: 100%;
  }

  input {
    width: 80%;
    border-radius: 8px;
    color: $second-dark-bg-color;
    padding-left: 2%;
    height: 100%;
    font-size: 1.25rem;
    border: 1px solid $primary-border-color;
    background-color: $primary-light-bg-color;
  }

  button {
    border-radius: 8px;
    height: 100%;
    width: 12%;
    min-width: 70px;
    background-color: $primary-dark-bg-color;
    font-size: 1rem;
    color: $primary-light-bg-color;
    border-color: transparent;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: $second-dark-bg-color;
      transform: scale(1.05);
    }
  }

  @media (width >= 750px) and (width <= 1250px) {
    align-self: flex-start;
    gap: 5%;
  }
}

.main-content .cards {
  display: flex;
  height: 85%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding-top: 2%;
  overflow-x: hidden;

  @media (width < 750px) {
    flex-direction: column;
    gap: 2%;
  }
}

.cards .no-country-text {
  color: $second-dark-bg-color;
  font-weight: 400;
}

.loading-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-content .arrows {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.main-content .arrow {
  opacity: 0;
  padding: 0.25rem;
  border-radius: 24px;
  border: 1.25px solid $primary-border-color;
}

.main-content .disabled {
  pointer-events: none;
  cursor: not-allowed;
  transition: all 0.3s ease;
  background-color: $primary-dark-bg-color;
}
