@use '_variables.scss' as *;

.card {
  display: grid;
  width: 40%;
  height: 90%;
  position: relative;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

  figure {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    margin: 0;
    padding: 1rem;

    .flag {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 16px;
      border: 1px solid rgba(128, 128, 128, 0.4);
    }
  }

  .country-main-info {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    gap: 1rem;
    padding-bottom: 1rem;

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0;
    }

    h4 {
      color: $text-label-color;
      font-size: 1rem;
      font-weight: 400;
      margin: 0;
    }
  }

  @media (width >= 750px) and (width <= 1250px) {
    figure {
      grid-column-start: 1;
      grid-column-end: 6;
    }

    .country-main-info {
      grid-column-start: 6;
      grid-column-end: 9;
    }
  }

  @media (width < 750px) {
    width: 95%;
    height: 100%;
  }

  .weather-info {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 4;
    grid-row-end: 6;
    height: 80%;
    align-self: center;
    margin: 0 1rem;
    border-radius: 8px;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    h2 {
      font-size: 1.5rem;
      font-weight: 500;
      margin: 0;
    }

    h4 {
      font-size: 0.75rem;
      font-weight: 400;
      color: $text-label-color;
      margin: 0;
    }
  }

  .infoL {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 0 0 1rem;
    gap: 1rem;
  }

  .infoR {
    grid-column-start: 6;
    grid-column-end: -1;
    grid-row-start: 6;
    grid-row-end: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 0 0 1rem;
    gap: 1rem;
  }

  .extra-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    h2 {
      font-size: 0.85rem;
      font-weight: 400;
      margin: 0;
    }
    h4 {
      font-size: 0.85rem;
      font-weight: 400;
      color: $text-label-color;
      margin: 0;
    }
  }
}

.dark {
  background-color: $second-dark-bg-color;

  .country-main-info h2 {
    color: $primary-light-bg-color;
  }

  .weather-info {
    background-color: $third-dark-bg-color;

    h2 {
      color: $primary-light-bg-color;
    }
  }
  .extra-info {
    h2 {
      color: $primary-light-bg-color;
    }
  }
  a {
    color: $dark-link-color;
  }
}

.light {
  background-color: $primary-light-bg-color;
  border: 1px solid $second-border-color;

  .country-main-info h2 {
    color: $third-border-color;
  }

  .weather-info {
    background-color: $text-nav-color;
    h2 {
      color: $third-border-color;
    }
  }

  .extra-info {
    h2 {
      color: $third-border-color;
    }
  }
  a {
    color: $light-link-color;
  }
}

.card .favorite {
  position: absolute;
  right: 0.5%;
  top: 2%;
  border-radius: 12px;
  padding: 8px;
}
