$primary-dark-bg-color: #000000;
$primary-light-bg-color: #ffffff;
$second-dark-bg-color: #050505;
$second-light-bg-color: #f9fafb;
$third-dark-bg-color: #1a1a1a;
$third-light-bg-color: #f3f4f6;
$text-label-color: #9ca3af;
$text-nav-color: #f3f4f6;
$text-main-color: #ffffff;
$primary-border-color: #d1d5db;
$second-border-color: #e5e7eb;
$third-border-color: #1f2937;
$dark-link-color: #60a5fa;
$light-link-color: #2563eb;
